<mat-toolbar color="primary">
    <button mat-button *ngIf="!sharedData.isLoggedin(); else elseblock">
<a mat-button routerLink="login">{{'Home.LOGIN'| translate}}</a>
</button>
<a mat-button routerLink="home">{{'Home.HOME'| translate }}</a>
<ng-template #elseblock>
    <a mat-button routerLink="logout">{{'Home.LOGOUT'| translate }}</a> 
</ng-template>
<div style="position:absolute;right:140px;">
<mat-label>{{'LANGUAGEOPTION.CAPTION' | translate}}</mat-label>
</div>
<div style="position:absolute;right:30px;">
      <select  #selectlang (click)="onselectLang(selectlang.value)">
        <option *ngFor="let item of supportLanguages">{{item}}</option>
        </select>
</div>
<div style="position:absolute;right:350px;">
<a mat-button routerLink="cart">
<button mat-icon-button *ngIf="this.items.length; else elseblock2">
    <mat-icon matBadge="{{this.cart.getItems().length}}" matBadgeColor="accent">shopping_cart</mat-icon>
</button></a>
<ng-template #elseblock2>
    <mat-icon>shopping_cart</mat-icon>
</ng-template>
</div>
</mat-toolbar><br/>
<ngx-ui-loader
text="Please wait.."
> 
</ngx-ui-loader>
    <router-outlet></router-outlet><br/>

    <div style="position:absolute;bottom:10px; text-align:center;"> All Rights Reserved Copyrights</div>
 
    <img src="assets/istockphoto-1215380721-1024x1024.jpg" style="width:150%;opacity:0.5;position:absolute;z-index:-1;">



