<table class="table">
    <thead>
        <tr>
            <th>{{'Home.name' | translate }}</th>
            <th>{{'Home.details' | translate }}</th>
            <th>{{'Home.price' | translate }}</th>
            <th>{{'Home.photo' | translate }}</th>
            <th>{{'Home.actions' |  translate }}</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ppp of myProducts; let i=index">
                <td>{{ppp.pname}}</td>
                <td>{{ppp.details}}</td>
                <td>{{'Home.Price'| translate }}{{ppp.price}}</td>
                <td><img src={{ppp.photo}}/></td>
                <td><button mat-icon-button (click)="onAdd(ppp.pid,ppp.price)">
                    <mat-icon>add</mat-icon>
                </button></td>
                <td><button mat-icon-button (click)="onDelete(i,ppp.price)">
                    <mat-icon>delete</mat-icon>
                </button></td>
            </tr>
        </tbody>
</table>
<div style="position:absolute;right:200px;">
{{'Home.total1'| translate }}=<b>{{'Home.Price'| translate }}{{this.cart.itemsValue}}</b><br/>
 {{'Home.total2' | translate }} {{this.items.length}}
</div>
 
