<div class="container">
    <div class="row">
<mat-card  class="col-lg-4 col-sm-12" *ngFor="let p of products">
    <mat-card-header>
        <mat-card-title>
            List of Products
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        {{p.pname}}<br/>
        {{p.pid}}<br/>
        Rs={{p.price}}<br/>
       <img src={{p.photo}}/>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="addCart(p.pid,p.price)">
        AddtoCart
        </button>
    </mat-card-actions>
</mat-card>
</div>
</div>
